<table>
  <tbody>
    
    <tr> 
      <td></td>     
      <td>
        CDN url (c3.min.css): <%=text_field_tag "settings[url_c3_min_css]", (settings["url_c3_min_css"] || 'https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css'), style: "width: 100%;"%>
      </td>
    </tr>
    <tr>      
      <td></td>
      <td>
        CDN url (c3.min.js): <%=text_field_tag "settings[url_c3_min_js]", (settings["url_c3_min_js"] || 'https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js'), style: "width: 100%;"%>
      </td>
    </tr>
    <tr>      
      <td></td>
      <td>
        CDN url (d3.v3.min.js): <%=text_field_tag "settings[url_d3_v3_min_js]", (settings["url_d3_v3_min_js"] || 'https://d3js.org/d3.v3.min.js'), style: "width: 100%;"%>
      </td>
    </tr>
    
   
  </tbody>
</table>

